<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144544910586-jkf0145s1fbdu57m1lomrg8p7571ecs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144544910586-jkf0145s1fbdu57m1lomrg8p7571ecs1</string>
	<key>API_KEY</key>
	<string>AIzaSyCPmP9CvPNmE30djB9bPlFCMDjtcJvrdQM</string>
	<key>GCM_SENDER_ID</key>
	<string>144544910586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liquimoney</string>
	<key>PROJECT_ID</key>
	<string>liquimoney-app</string>
	<key>STORAGE_BUCKET</key>
	<string>liquimoney-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:144544910586:ios:c9a5e82327a6cd4afe8d43</string>
</dict>
</plist>
